#ball{
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    left: 300px;
    transition: transform 1s ease-in-out;
}
.field:hover #ball{
    transform: translate(1000px,200px);
}
.bat{
    transition: transform 0.2s ease-in-out;
   height: 450px;
   overflow: hidden;


}

.bat:hover{

   transform: rotate(-60deg); 
   transform-origin: 100% 0%;
}




